#select-dropdown {
    display: flex;
    flex-direction: column;
    /* background/background-regular */
    background: #ffffff;
    /* border/light */
    border: 1px solid #cfd8dc;
    box-sizing: border-box;
    border-radius: 4px;
}

.select-button {
    /* background/background-input */
    background: white;
    width: 100%;
    height: 40px;
    border: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.select-selected {
    border-radius: 4px;
}

.select-button:hover {
    background: #eceff1;
}

#select-label {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    display: flex;
    align-items: center;

    /* text/text-light */
    color: #465d67;
}

#select-placeholer {
    /* text/text-placeholder */
    color: #aabec5;
}

.select-dropdown-selected,
.select-selected {
    background: #eceff1;
}

.select-dropdown-selected:hover {
    background: #cfd8dc;
}
