.Checkbox input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}

.Checkbox {
    color: #465D67;
    font-size: 16px;
    font-family: Nunito, Helvetica, sans-serif;
    line-height: 16px;
}

.Checkbox.checked {
    color: #263238;
}

.Checkbox .box {
    display: inline-block;

    width: 16px;
    height: 16px;

    border: 1px solid #465D67;
    box-sizing: border-box;
    border-radius: 2px;

    text-align: center;
}

.Checkbox.checked .box {
    border: 1px solid #D81B5D;
}
